parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Auth\\StatefulGuard\:\:getProvider\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Filament/Auth/Login.php

		-
			message: '#^Access to an undefined property App\\Filament\\Pages\\SystemSettings\:\:\$form\.$#'
			identifier: property.notFound
			count: 2
			path: app/Filament/Pages/SystemSettings.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 4
			path: app/Filament/Pages/SystemSettings.php

		-
			message: '#^Parameter \#3 \$currentContent of method App\\Services\\Maria\\ApprovalService\:\:approve\(\) expects array, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/ApprovalResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Resources/FaqResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Resources/FaqResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/FaqResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/FaqResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>created_by" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/PromptVersionResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Resources/ServiceRequestResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/ServiceRequestResource.php

		-
			message: '#^Anonymous function never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Filament/Resources/ServiceResource.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Http/Controllers/MetaWebhookController.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Http/Controllers/WhatsAppWebhookController.php

		-
			message: '#^Cannot call method isFuture\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Approval.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$timezone\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Maria/AcceptanceMetricsService.php

		-
			message: '#^Using nullsafe property access "\?\-\>timezone" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Maria/AcceptanceMetricsService.php

		-
			message: '#^Cannot call method toDateString\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Maria/AcmProductionService.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Maria/AcmProductionService.php

		-
			message: '#^Parameter \#1 \$owner of method App\\Services\\Maria\\ClaimsVerificationService\:\:verify\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/AcmProductionService.php

		-
			message: '#^Cannot call method toDateString\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/Maria/AgverseOpportunityReviewService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\AgverseOpportunity\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: app/Services/Maria/AgverseOpportunityReviewService.php

		-
			message: '#^Cannot call method isPast\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/Maria/ApprovalService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Maria/ApprovedGoogleActionService.php

		-
			message: '#^Offset ''connector_account_id'' does not exist on string\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: app/Services/Maria/ApprovedGoogleActionService.php

		-
			message: '#^Parameter \#1 \$owner of method App\\Services\\Maria\\ApprovedGoogleActionService\:\:ownedConnector\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/ApprovedGoogleActionService.php

		-
			message: '#^Parameter \#1 \$owner of method App\\Services\\Maria\\AssistantActionService\:\:reserve\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/ApprovedGoogleActionService.php

		-
			message: '#^Parameter \#1 \$owner of method App\\Services\\Maria\\ExternalActionGuard\:\:assertEnabled\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/ApprovedGoogleActionService.php

		-
			message: '#^Parameter \#2 \$event of method App\\Services\\Maria\\Google\\GoogleCalendarWriteClient\:\:createEvent\(\) expects array, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/ApprovedGoogleActionService.php

		-
			message: '#^Parameter \#2 \$message of method App\\Services\\Maria\\Google\\GmailWriteClient\:\:send\(\) expects array, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/ApprovedGoogleActionService.php

		-
			message: '#^Parameter \#3 \$input of method App\\Services\\Maria\\AssistantActionService\:\:reserve\(\) expects array, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/ApprovedGoogleActionService.php

		-
			message: '#^Parameter \#4 \$workflowRun of method App\\Services\\Maria\\AssistantActionService\:\:reserve\(\) expects App\\Models\\WorkflowRun\|null, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/ApprovedGoogleActionService.php

		-
			message: '#^Cannot call method isPast\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Maria/AssistantActionService.php

		-
			message: '#^Using nullsafe property access "\?\-\>run_id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Maria/AssistantActionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Maria/AssistantIdentityResolver.php

		-
			message: '#^Cannot call method toDateString\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/Maria/BookPortfolioReviewService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Book\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Services/Maria/BookPortfolioReviewService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$timezone\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Maria/ClaimsVerificationService.php

		-
			message: '#^Parameter \#2 \$haystack of function in_array expects array, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/ClaimsVerificationService.php

		-
			message: '#^Using nullsafe property access "\?\-\>timezone" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Maria/ClaimsVerificationService.php

		-
			message: '#^Parameter \#1 \$owner of method App\\Services\\Maria\\ClaimsVerificationService\:\:verify\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/ContentPackageService.php

		-
			message: '#^Cannot call method diffInDays\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Maria/DailyFiveService.php

		-
			message: '#^Cannot call method isBefore\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Maria/DailyFiveService.php

		-
			message: '#^Cannot call method isPast\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Maria/DailyFiveService.php

		-
			message: '#^Cannot call method lt\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/Maria/DeadlineMonitorService.php

		-
			message: '#^Cannot call method toDateString\(\) on string\.$#'
			identifier: method.nonObject
			count: 3
			path: app/Services/Maria/DeadlineMonitorService.php

		-
			message: '#^Parameter \#1 \$owner of method App\\Services\\Maria\\CommitmentTaskService\:\:create\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/EmailTriageService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$external_actions_enabled\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Maria/ExternalActionGuard.php

		-
			message: '#^Cannot call method isAfter\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/Maria/Google/GoogleWorkspaceClient.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Maria/MariaConversationService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Maria/MariaConversationService.php

		-
			message: '#^Parameter \#1 \$owner of method App\\Services\\Maria\\CommitmentTaskService\:\:create\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Maria/MeetingCloseoutService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 7
			path: app/Services/Maria/MorningBriefService.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Maria/QualityReportService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\WorkflowRun\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Services/Maria/QualityReportService.php

		-
			message: '#^Strict comparison using \=\=\= between non\-empty\-array\<mixed, mixed\> and array\{\} will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Services/Maria/Support/JsonSchemaValidator.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Maria/Tools/CreateTaskTool.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$enabled_workflows\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Maria/Tools/ListCalendarEventsTool.php

		-
			message: '#^Using nullsafe property access "\?\-\>enabled_workflows" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Maria/Tools/ListCalendarEventsTool.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$enabled_workflows\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Maria/Tools/ListPriorityEmailsTool.php

		-
			message: '#^Using nullsafe property access "\?\-\>enabled_workflows" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Maria/Tools/ListPriorityEmailsTool.php
